part3.dtd

<!DOCTYPE library [
        <!ELEMENT library (book*)>
        <!ELEMENT book (title, author, publisher, year)>
        <!ATTLIST book id CDATA #REQUIRED>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT author (#PCDATA)>
        <!ELEMENT publisher (#PCDATA)>
        <!ELEMENT year (#PCDATA)>
        <!ATTLIST year xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance">
        <!ATTLIST year xsi:type CDATA #FIXED "xs:gYear">
        ]>
